.visitorsPassHeader {
    display: flex;
    flex: 1;
    padding: 15px 20px;
    background-color: var(--color-white);
    border: 1px solid #eeeeee;
    border-radius: 20px 20px 0px 0px;
    align-items: flex-start;
  }
  
  .visitorsPassHeaderTitles{
      display: flex;
      flex: 1;
      align-items: flex-start;
      justify-content: space-between;
      padding-left: 10px;
      padding-top: 2px;
  }
  
  .visitorsPassHeaderTitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #171b1e;
    width: 100px;
  }


  .visitorsPassHeaderTitleLarge{
      width: 150px;
  }
  
  .visitorsPassHeaderTitleSmall{
      width: 50px;
  }
  
  .visitorsPassHeaderEnd{
      width: 20px;
      
  }