.toggle{
    background: #F2F6FC;
border-radius: 32px;
width: 40px;
height: 20px;
position: relative;
}

.toggleOn{
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background: var(--color-primary);
    position: absolute;
    right: 0;
    bottom: 3px;
    bottom: -3px;
    cursor: pointer;
}

.toggleOff{
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background: #E1E5FF;
    position: absolute;
    left: 0;
    bottom: -3px;
    cursor: pointer;
}
