.tenantServicePlanForm{
    background-color: var(--color-white);
    box-shadow: var(--card-shadow);
    padding: 50px;
    width: 30vw;
}

@media (max-width: 900px){
    .tenantServicePlanForm{
        width: 60vw;
    }
}

@media (max-width: 600px){
    .tenantServicePlanForm{
        width: 70vw;
        padding-inline: 30px;
    }
}
