.reset {
    height: 100vh;
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .resetLogo {
    width: 250px;
    height: fit-content;
    object-fit: contain;
    display: flex;
    margin-top: 5px;
  }
  
  .resetAbstract {
    height: 50vh;
    width: fit-content;
    object-fit: contain;
  }
  
  
  .resetLeft{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 500px;
  }
  
  .resetHeader {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.24px;
    margin-top: 5vh;
  }
  
  .resetSubHeader {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      text-align: center;
    letter-spacing: -0.24px;
    margin-bottom: 5vh;
  }
  
  .resetErrorContainer{
      width: 300px;
  }
  
  @media (max-width:1000px){
  
      .reset{
          justify-content: center;
      }
  
      .resetRight{
          display: none;
      }
  
      .resetLeft{
          width: 90%;
          max-width: 450px;
          align-items: center;
      }
  
      .resetSubHeader{
          width: 80%;
      }
  
      .resetErrorContainer{
          width: 100%;
          display: flex;
          justify-content: center;
      }
  }
  