.loggedinStack{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.page{
    display: flex;
    flex: 1;
}

.sidebarDesktop{
    z-index: 999;
}

.sidebarMobile{
    display: none;
}

@media (max-width:900px){
    .sidebarDesktop{
        display: none;
    }

    .sidebarMobile{
        display: flex;
        position: absolute;
        background-color: white;
        z-index: 999;
    }

    .sidebarMobileSidebar{
        z-index: 999;
    }

}